<?xml version='1.0' encoding='utf-8'?>
<widget id="net.pandajs.launcher" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Panda Launcher</name>
    <description>
        Launcher application to use with Panda Editor.
    </description>
    <author email="eemeli.kelokorpi@gmail.com" href="http://www.pandajs.net/launcher">
        Eemeli Kelokorpi
    </author>
    <content src="index.html" />
    <preference name="Fullscreen" value="true" />
    <icon src="res/icon.png" />
    <access origin="*" />
</widget>
